<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865793379065-utu7divv9r14vpsj0qq9lb2h2vg0r24m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865793379065-utu7divv9r14vpsj0qq9lb2h2vg0r24m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>865793379065-u8tf29j6u9gm9j7h3lg7np03s8dukfir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaonIb17_dnhCxsj0GCLWb0IrQiBXFqpA</string>
	<key>GCM_SENDER_ID</key>
	<string>865793379065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piggyflowlabs.PiggyFlow</string>
	<key>PROJECT_ID</key>
	<string>piggyflow-dbcc2</string>
	<key>STORAGE_BUCKET</key>
	<string>piggyflow-dbcc2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:865793379065:ios:aa8c59434ed4a5b3107028</string>
</dict>
</plist>
